server {
  listen 80;
  server_name {{ app_domain_name }};
  root /var/www/{{ app_domain_name }}/current/public;
  passenger_enabled on;
  rails_env {{rails.env}};

  location ~ \.(aspx|asp|php|jsp|cgi|xml)$ {
        return 410;
  }
}