define host {
        use                             linux-server
        host_name                       {{ hostvars[item]['ansible_hostname']}}
        hostgroups                      {{ nagios_hostgroup }}
        alias                           {{ hostvars[item]['ansible_hostname']}} server
        address                         {{ hostvars[item]['ansible_eth0']['ipv4']['address']}}
        max_check_attempts              5
        check_period                    24x7
        notification_interval           30
        notification_period             24x7
        notification_options            d,r
}
define service {
        use                             generic-service
        host_name                       {{ hostvars[item]['ansible_hostname']}}
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
}
define service {
        use                             generic-service
        host_name                       {{ hostvars[item]['ansible_hostname']}} 
        service_description             SSH
        check_command                   check_ssh
}
define service {
        use                             generic-service
        host_name                       {{ hostvars[item]['ansible_hostname']}}
        service_description             check disk
        check_command                   check_nrpe!check_disk
}
define service {
        use                             generic-service
        host_name                       {{ hostvars[item]['ansible_hostname']}}
        service_description             check process
        check_command                   check_nrpe!check_total_procs
}
define service {
        use                             generic-service
        host_name                       {{ hostvars[item]['ansible_hostname']}}
        service_description             check zombie procs
        check_command                   check_nrpe!check_zombie_procs
}
define service {
        use                             generic-service
        host_name                       {{ hostvars[item]['ansible_hostname']}}
        service_description             check load
        check_command                   check_nrpe!check_load
}
define service {
        use                             generic-service
        host_name                       {{ hostvars[item]['ansible_hostname']}} 
        service_description             check users
        check_command                   check_nrpe!check_users
}
define service {
        use                             generic-service
        host_name                       {{ hostvars[item]['ansible_hostname']}}
        service_description             check memory
        check_command                   check_nrpe!check_mem
}
{% if nagios_redis == true %}
define service {
        use                             generic-service
        host_name                       {{ hostvars[item]['ansible_hostname']}}
        service_description             check redis
        check_command                   check_nrpe!check_redis_ping
}
define service {
        use                             generic-service
        host_name                       {{ hostvars[item]['ansible_hostname']}} 
        service_description             check checkredis connections
        check_command                   check_nrpe!check_redis_connections
}
{% endif %}

{% if nagios_postgres == true %}

define service {
        use                             generic-service
        host_name                       {{ hostvars[item]['ansible_hostname']}}
        service_description             check postgres conn
        check_command                   check_nrpe!check_postgres_conn
}
define service {
        use                             generic-service
        host_name                       {{ hostvars[item]['ansible_hostname']}}
        service_description             check postgres backends
        check_command                   check_nrpe!check_postgres_clients
}
{% endif %}
